# This is the port the API will be available at

PORT=3001

# -- Database configuration --

# If you set up and use a database, you'll need to use the corresponding configuration

# below as a starting point. Uncomment the section you need and customise with your

# own correct values.

#

# The default enabled configuration is for SQLite.

# General configuration

DB_HOST=localhost
DB_PORT=5432
DB_USE_SSL=false # The database you use for local development most likely doesn't use SSL (encryption) but when you deploy it, you should set this to true on that environment.
JWT_SECRET=replace_with_a_long_random_secret

# SQLite configuration - comment out/uncomment as needed

DB_CLIENT=sqlite3
DB_SQLITE_FILENAME="./src/database.sqlite3"
DB_USE_NULL_AS_DEFAULT=true

# MySQL/PostgreSQL configuration - comment out/uncomment as needed

#DB_CLIENT=pg
#DB_USER=your_postgres_user
#DB_PASSWORD=your_postgres_password
#DB_DATABASE_NAME=your_postgres_database

# -- Database configuration end --

JWT_EXPIRES_IN=24h
